<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="row my-4">
                <div class="col-8 d-flex justify-content-center">
                    <h5>ジャンル編集</h5>
                </div>
            </div>

            <div class="row">
            <p>ジャンル名</p>
            <%= form_with model: @genre, url:'/genres/:id', method: :patch do |f| %>
            <%= f.text_field :name %>
            <input class="btn btn-success" type="submit" value="変更を保存">
            <% end %>
           </div>
       </div>
   </div>
</div>