<%= render 'layouts/error', obj: @genre %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
       <div class="col my-4">
         <h5 class="bg-secondary" style="width: 130px;">ジャンル編集</h5>
       </div>
    </div>

    <div class="row ml-5 my-5">
      <p class="font-weight-bold ml-4">ジャンル名</p>
      <%= form_with model: @genre, url:'/admin/genres/id', method: :patch do |f| %>
        <%= f.text_field :name,class:"mx-5"%>
        <%= f.submit '変更を保存',class:"btn btn-success" %>
      <% end %>
   </div>
</div>

