<h1>配送先一覧</h1>
<p>Find me in app/views/public/addresses/index.html.erb</p>
<!----  form_withフォーム  >
<!----  郵便番号のラベル  >
<!----  郵便番号のテキストフィールド  >
<!----  住所のラベル  >
<!----  住所のテキストフィールド  >
<!----  宛名のラベル  >
<!----  宛名のテキストフィールド  >
<!----  新規登録のボタン  >

<!---- テーブルタグ>
<!---- 確かthead>
<!---- カラムを３つ・空白が１つ>

<!---- 確かtbody>
<!---- tr>
<!---- td 郵便番号>
<!---- td 住所>
<!---- td 宛名>
<!---- td 編集するボタン・削除するボタン>

