<h1>注文履歴一覧</h1>
<table>
    <thead>
      <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
    </thead>
    <tbody>
      <%#= @items.each do |item| %>
      <tr>
        <th><%#= item.id %></th>
        <th><%#= item.name %></th>
        <th><%#= item.price %></th>
        <th><%#= item.genres.name %></th>
        <th><%#= item.on_sale? ? '販売中' : '販売停止中' %></th>
        <th><%#= item.genres.name %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
